<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Booking System</title>
   <h1><bold>Welcome to Flight Booking</bold></h1>
<div >
    <div style="background-image: url('img/plane2.jpg'); background-size:100% 100%; height:400px;"></div>
</div>
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />

   <form th:action="@{/logout}" method="post">
   <p>
        <input type="submit" class="btn btn-info" align="center" value="Start Booking" /></p>
    </form>
</body>
</html>